@media (max-width: 37.5em) {

  header {
    background-color: #002147;
    padding: 0;
  }

  header div:first-child {
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 50px;
    padding-bottom: 0;
  }

  #site-name {
    color: whitesmoke;
    font-size: 1.4rem;
  }

  body header div a img {
    filter: invert(1);
  }

  #menu-button {
    display: block;
    font-size: 1.6rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
  }

  #menu-button::before {
    content: "☰";
  }

  #menu-button.open::before {
    content: "✖";
  }

  #menu-button span {
    display: none;
  }

  #nav-menu ul {
    display: none;
    flex-direction: column;
    background-color: #00152e;
    margin-top: 1rem;
    padding-left: 0;
  }

  #nav-menu.open ul {
    display: flex;
  }

  #nav-menu a {
    border-top: 1px solid #002147;
    text-align: center;
  }

  #nav-menu a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  main {
    display: block;
    margin-top: 0;
  }

  #page-title {
    text-align: center;
    font-size: 1.8rem;
  }

  #course-cards {
    flex-direction: column;
  }
}